*{
    margin:0px ;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3em;
}

p {margin-bottom: 1.6em;}

.container{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 1rem;
}

/* --- HEADER ---- */

.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listaNav{
    display: flex;
    margin: 0 auto;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 0.5rem;
}



/* ---- MAIN ---- */
.main{
    padding-top: 6rem;
}
.cards{
    display:flex;
    padding-left:3px;
    padding-right:3px;
    text-align: center;
}

.cards div{
}

.mainFooter{
    background-image: url(../img/fondo_cielo.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.cardsNoticias{
    display:flex;
}
/*
.fondo1{
    background-image: url(../img/fondo1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 75%;
}*/


/* --- FOOTER --- */